@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 17, 17);
}
header{
    background-color: black;
    padding: 10px;
    color: white;
    font-family: 'Goldman', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
header p{
    background-color: black;
    color: aqua;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
}
.navPages{
    background-color: black;
    list-style: none;
}
.navPages li{
    background-color: black;
    display: inline-block;
    padding: 0 20px;
}
.navPages li a{
    color: purple;
    text-decoration: none;
    background-color: black;
    transition: all 0.3s ease 0s;
}
.navPages li a:hover{
    color: plum;
}

.logo {
    display: flex;
    cursor: pointer;
    padding: 20px;
}
.logo figure{
    margin: auto;
}
.logo figure img{
    object-fit: cover;
    position: relative;
    top: 50px;
    width: 700px;
    
    /*border-radius: 50%;*/
}

